
[user]
	name = Taylor King
	email = dekkofilms@gmail.com
[credential]
	helper = osxkeychain
[core]

  # You can specify your preferred git editor here if you don't want to set an environment variable.
	editor = vim

  # Mac will ignore file cases by default
	ignorecase = false

[alias]

  s = status

  d = diff

  co = checkout

  cob = checkout -b

  # List all current aliases
  aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' | sort

  # List commit ancestry in a dense, useful format that includes short SHA1 hashes
  ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

  # Alias for commitizen
  cm = cz

  # Commit hard
  ch = commit --no-verify

  # Meld staged changes into previous commit and edit commit message
  ca = commit --amend

  # Meld staged changes into previous commit without changing commit message
  cae = commit --amend --no-edit

  # Add all unstaged changes and commit with "wip" message (use sparingly)
  wip = !git add -A && git commit -m 'wip'

  # Force push with no verify
  pushhard = push -f --no-verify

  # WTF brah?
  wtf = "! git log --pretty=tformat:\"%C(auto,yellow)%h%C(auto)%d%C(auto,reset) by %C(auto,blue)%cn%C(auto,reset), %C(auto,cyan)%ar%C(auto,reset)%n %s%n\" --stat"
